/* homepage.css */
:root {
    /* CSS variables or page-wide tokens */
    --hero-max: 1200px;
    --carolina: #4b9cd3;
}

.header1 {
    text-align: center;
    padding: 3rem;
    color: var(--carolina)
}

.roundedBox {
    display: inline-block;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
    margin: 20px;
    box-shadow: 5px 10px #888888;
}

.default-ram {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
}

.ramContainer {
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 360px;
}

.ram-wrapper {
    display: flex;
    justify-content: center;
}

.speech-bubble {
    position: absolute;
    top: 8%;
    left: 48%;
    transform: translateX(-120%);
    background-color: #7eb3df;
    color: #000;
    padding: 1rem 1.75rem;
    border-radius: 9999px;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    opacity: .8;
}

.speech-bubble p {
    font-family: 'Fredoka One', cursive;
}

.speech-bubble::after {
    content: "";
    position: absolute;
    top: 80%;
    right: -1px;
    rotate: 30deg;
    /* place tail on the right side, pointing to Ram */
    transform: translateY(-50%);
    border-width: 15px 0 15px 30px;
    border-style: solid;
    border-color: transparent transparent transparent #7eb3df;
    /* match bubble */

}